body {
  background-color: #0d617a;
}
.weatherApp {
  background-color: rgb(241, 238, 236);
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 40px;
  border-radius: 10px;
  padding: 50px;
  font-family: "Shadows Into Light Two", "Mr Dafoe", "Lucida Sans",
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.searchForm {
  border-bottom: solid lightgray 2px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#city-name {
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
  font-family: "Shadows Into Light Two";
}

#city-submit-button {
  background-color: #0d607ab7;
  border: #0d617a;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: whitesmoke;
  margin-left: 2px;
  font-family: "Shadows Into Light Two";
}

section {
  padding: 20px 0;
}

.weatherAppData {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.weatherAppCityName {
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bolder;
  line-height: 40px;
  color: #09495c;
}

.weatherAppCurrentConditions {
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 5px;
  color: #09495c;

}

.weatherAppCurrentConditions strong {
  color: #64088f;
  font-weight: bolder;
}

.weatherAppCurrentTemperatureContainer {
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  font-weight: bolder;
  line-height: 48px;
  color: #09495c;
  padding-top: 30px;
}

.weatherAppTempIcon {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
    margin-top: -15px;
}

.weatherAppTempValue {
    font-size: 80px;
    font-weight: bold;
}

.weatherAppTempUnit {
    font-size: 28px;
    margin-top: -20px;

}

.weather-forecast-container {
  display: flex;
  justify-content: space-around;

}

.weather-forecast-date {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 5px;
  color: #09495c
}

.weather-forecast-icon {
  text-align: center;
  width: 70px;
  height: 70px;
  margin-top: 5px;
  }

.weather-forecast-temperatures {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #64088f;
}

.forecast-high-temp {
  color: #64088f;
  font-weight: bolder;
  padding: 2px;
}

.forecast-low-temp {
  padding: 2px;
}

footer {
  border-top: solid lightgray 2px;
  padding-top: 20px;
  text-align: center;
  font-family: "Mr Dafoe", "Lucinda Sans";
  font-style: none;
  font-size: 13px;
  font-weight: 200;
}

footer a {
  color: #0d607ab7;
}